.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
}

.space {
  position: absolute;
  height: 100vh;
  width: 1000vw;
  z-index: -999;
  background-image: url('./Assets/space.png');
  background-size: cover;
  background-repeat: repeat;
  animation: parallax 50s infinite;
  animation-timing-function: cubic-bezier();
}

.App-logo {
  background-image: url('./Assets/logo.png');
  background-size: contain;
  align-self: center;
  height: 80px;
  width: 80px;
  margin-top: 4em;
  z-index: 100;
}

.ground {
  position: fixed;
  bottom: -80px;
  background-image: url('./Assets/ground.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.content-main {
  
  align-self: center;
  height: 70vh;
  width: 60vw;
  background: #232323;
  opacity: 0.8;
  z-index: 99;
}

.kittyfront {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 10vw;
  top: 60vh;
  background-image: url('./Assets/catfront.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 80;
  
}

.kittyback {
  position: absolute;
  height: 700px;
  width: 700px;
  left: 75vw;
  top: 50vh;
  background-image: url('./Assets/catback.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 105;

}

.App-header {
  background-color: white;
  height: 150px;
  padding: 40px;
  color: #232323;
  font-size: 2em;
}

.App-title {
  padding: 1em;
  font-size: 1.5em;
}

.App-intro {
  font-size: 1.5em;
  padding: 4em;
}

@keyframes parallax {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}
